    .form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .form__field {
    font-family: inherit;
    width: 70%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    }
    .form__field::placeholder {
    color: transparent;
    }
    .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
    }
    .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
    }
    .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
    }
    .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
    }
    .form__field:required, .form__field:invalid {
    box-shadow: none;
    }
    .submit{
    position: absolute;
    left: 12.5rem;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 25px;
    cursor: pointer;
   }
   .form__field:focus ~ .submit{
    color: #38caef;
   }
   .Home_filters_button{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .Home_filters_button button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    margin: 30px 30px 0 30px;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .Home_filters_button button:focus,
  .Home_filters_button button:hover {
    color: #38caef;
  }
  
  .Home_filters_button button:focus:after,
  .Home_filters_button button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .Home_filters_button button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #38caef;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  .loading{
    color: red;
  }